<div ng-include="'shared/_header_nav.html'"></div>
<div ng-include="'shared/_parts.html'"></div>

<div class="container">
  <div class="row">

    <section class="content col-md-9">
      <h3>Scene 1</h3>

      <ul class="content-list">
        <li ng-repeat="element in vm.elements | orderBy:'playOrder'"
            ng-class="{ selected: element.roleId === vm.selectedRoleId }">

          <a ui-sref="#/lines/{{ element.id }}">
            <p class="role light"><small>{{ element.role.name }}</small></p>
            <p>{{ element.text }}</p>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
