<div ng-include="'shared/_header_nav.html'"></div>
<div ng-include="'shared/_parts.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="content-list">
        <li ng-repeat="element in vm.elements | orderBy:'playOrder'">
          <div class="li-circle">
            <p></p>
          </div>
          <a ng-href="#/lines/{{ element.id }}" class="btn btn-default btn-lg">
            {{ element }}
            {{ element.playOrder }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
