html, body {
  height:100%;
}

ul {
  list-style:none;
}

.content {
  background-color:#EEE;
  height:100%;
}

.upper-actions {
  background-color:#FFF;
  margin-bottom:30px;
}

.inline-list {
  padding-left:0;

  li {
    display:inline-block;
    margin-right:15px;
  }
}

.content-list {
  padding-left:0;

  > li {
    margin-bottom:20px;

    .li-circle {
      float:left;
      width:7%;
    }
    .li-circle > p {
      height:35px;
      width:35px;
      border-radius:20px;
      background-color:#7DDA9C;
    }
    a {
      display:inline-block;
      white-space:normal;
      text-align:left;
      width:93%;
      font-size:15px;
    }
  }
}

.navbar {
  background-color:#AAA;
  color:#F5F9Fb;
  margin-bottom:0;

  .navbar-brand {
    letter-spacing:1px;
    font-size:26px;
    font-weight:100;
    color:#FFF;
  }
  .btn-group > .btn {
    border:1px solid #909090;
    color:#FFF;
    padding-left:20px;
    padding-right:20px;
    &:first-child {
      border-right:none;
    }
    &:last-child {
      border-left:none;
    }
  }
  .btn-group > .active {
    background-color:#868686;
  }
}
