$default-gray:#959595;
$default-yellow:#F9FEA9;

body {
  background-color:#EEE;
}

ul {
  list-style:none;
}

.inline-list {
  padding-left:0;

  > li {
    display:inline-block;
    margin-right:15px;
  }
}

.upper-actions {
  background-color:#FFF;
  margin-bottom:30px;

  h3 {
    font-weight:200;
    margin-bottom:15px;
  }
  ul {
    margin-bottom:20px;

    button {
      color:$default-gray;
      font-weight:500;
      border:2px solid #E0E0E0;
      background-color:#FFF;
    }
    .selected, button:hover {
      border-color:#333;
      color:#333;
    }
  }
}

.light {
  color:$default-gray;
}

.content {
  h3 {
    font-weight:200;
    margin:0 0 15px 0;
  }
}

.content-list {
  padding-left:0;

  > li {
    background-color:#FFF;
    border:1px solid #E0E0E0;
    border-bottom:none;

    &:last-child {
      border-bottom:1px solid #E0E0E0;
    }
    .role {
      text-transform:uppercase;
    }
    > a {
      display:inline-block;
      text-decoration:none;
      white-space:normal;
      text-align:left;
      padding:15px;
      color:#333;
      width:100%;
      font-size:15px;
      &:hover {
        background-color:#E6E6E6;
      }
    }
  }
  > .selected {
    border-left:4px solid $default-yellow;
    border-right:4px solid $default-yellow;
  }
}

.navbar {
  background-color:#AAA;
  color:#F5F9Fb;
  margin-bottom:0;

  .navbar-brand {
    letter-spacing:1px;
    font-size:26px;
    font-weight:100;
    color:#FFF;
  }
  .btn-group > .btn {
    border:1px solid #909090;
    color:#FFF;
    padding-left:20px;
    padding-right:20px;
    &:first-child {
      border-right:none;
    }
    &:last-child {
      border-left:none;
    }
  }
  .btn-group > .active {
    background-color:#868686;
  }
  .nav-back > i {
    color:#FFF;
    font-size:1.5em;
  }
}

.page-title {
  width:20%;

  > .navbar-text {
    text-align:center;
    width:100%;
    color:#FFF;
    font-weight:200;
  }
}
