$default-gray:#959595;
$border-gray:#E0E0E0;
$default-yellow:#F9FEA9;

body {
  background-color:#EEE;
}

ul {
  list-style:none;
}

body, html, .view-container, .view-frame {
  height:100%;
}

.btn:active:focus, .btn:focus {
  outline:none;
}

.inline-list {
  padding-left:0;

  > li {
    display:inline-block;
  }
}

.upper-actions {
  margin: 20px 0 15px 0;

  h3 {
    font-weight:200;
    margin-bottom:15px;
  }
  ul {
    > li {
      margin-bottom:12px;
    }
    .btn {
      color:$default-gray;
      font-weight:500;
      border:2px solid $border-gray;
      background-color:#FFF;
    }
    .selected, button:hover {
      background-color:#FAFEAB;
      border-color:#333;
      color:#333;
    }
  }
}

.thumbnail-list > li {
  width:38px;
  padding-right:1px;

  .placeholder {
    background-color:#333;
    height:38px;
  }
}

.light {
  color:$default-gray;
}

.content {
  min-height:900px;

  h3, h4 {
    font-weight:200;
    margin:0 0 15px 0;
  }
}

.content-list {
  padding-left:0;

  > li {
    background-color:#FFF;
    border:1px solid $border-gray;
    border-bottom:none;
    display:inline-block;
    text-decoration:none;
    white-space:normal;
    text-align:left;
    padding:15px;
    color:#333;
    width:100%;
    font-size:15px;

    &:hover {
      // background-color:#E6E6E6;
    }
    &:last-child {
      border-bottom:1px solid $border-gray;
    }
    .role {
      text-transform:uppercase;
    }
    &.selected {
      border:1px solid #040404;
      font-weight:600;
    }
  }
  > .selected {
    border: 1px solid #040404;
    // border-left:4px solid $default-yellow;
    // border-right:4px solid $default-yellow;
    // padding:15px 11px 15px 11px;
  }
}

.navbar {
  background-color:#AAA;
  color:#F5F9Fb;
  margin-bottom:0;

  .navbar-brand {
    letter-spacing:1px;
    font-size:26px;
    font-weight:100;
    color:#FFF;
  }
  .btn-group > .btn {
    padding-left:20px;
    padding-right:20px;
  }
  .nav-back > i {
    color:#FFF;
    font-size:1.5em;
  }
}

.nav-back {
  position:absolute;
}

.footer-buffer {
  height:50px;
  width:100%;
}

.footer {
  position:fixed;
  text-align:center;
  bottom:0;
  width:100%;
  background-color:#AAA;
  padding:15px 0;

  > a {
    text-decoration:none;
    font-weight:400;
    color:#B73336;

    > i {
      display:inline-block;
      margin:0 2px 1px 0;
      height:8px;
      width:8px;
      border-radius:8px;
      background-color:#B73336;
    }
  }
}

.section-header {
  h3 {
    text-align:center;
    margin:15px 0;
    color:#FFF;
    font-weight:200;
  }
}

.page-title {
  width:20%;

  > .navbar-text {
    text-align:center;
    width:100%;
    color:#FFF;
    font-weight:200;
  }
}

.scene.videos {
  margin-bottom:30px;
}

.video-container {
  height:100%;
  padding: 40px 0;
  background-color:#000;

  > #video-player {
    margin:0 auto;
  }
  > .actions {
    padding:0 20px;
    height:40px;
    background-color:#E6E6E6;

    > a {
      text-decoration:none;
      font-weight:500;
      line-height:40px;
      color:#3565B7;
    }
    > a:last-child {
      float:right;
    }
  }
}
